<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ flatpage.title }}</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Django Project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                        <li class="nav-item"><a class="nav-link" href="/registry/">Регистрация</a></li>
                        <li class="nav-item"><a class="nav-link" href="/lk/">Личный кабинет</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <!-- Скролл помещаем в блок, чтобы показывать его только на главной-->
        {% block header %}
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Итоговая работа по модулю D1 <br>онлайн школы SkillFactory</h1>
                <p class="lead">Курс Fullstack разработчик на Python</p>
                <a class="btn btn-lg btn-light" href="#home">Начать</a>
            </div>
        </header>
        {% endblock header %}
        <!-- Home section-->
        <section id="home">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        {% block content %}
                        {{ flatpage.content }}
                        {{ flatpage.content }}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Информация о сайте</h2>
                        <p class="lead">
                            <br>На сайте создано 3 страницы: Главная, Регистрация, Личный кабинет.
                            <br>На главной странице контент повторяется дважды.
                            <br>На страницу Личный кабинет могут попасть только зарегистрированные пользователи.
                            <br>Размер и стиль шрифта изменены на странице регистрации.
                        </br>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Django project 2022</p></div>
        </footer>
    </body>
</html>